<mat-card *ngIf="user">
    <mat-card-header>
        <mat-card-title class="ml20">Your Profile details</mat-card-title>
    </mat-card-header>
    <!-- {{user|json}} -->
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    <img src="https://d2v5dzhdg4zhx3.cloudfront.net/web-assets/images/storypages/short/linkedin-profile-picture-maker/dummy_image/thumb/004.webp" alt="profile"
                    class="profile-img">
                    <h1 class="mt20">{{user.firstName+" "+user.lastName}}</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="text-center table">
                            <tr>
                                <td>Username</td>
                                <td>{{user.username}}</td>
                            </tr>
                            <tr>
                                <td>Userid</td>
                                <td>{{user.id}}</td>
                            </tr>
                            <tr *ngIf="user.phone">
                                <td>Phone</td>
                                <td>{{user.phone}}</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{user.enabled?"ACTIVE":"NOT ACTIVE"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="text-center" style="display: flex;justify-content: center; align-items: center;">
        <button mat-raised-button color="accent" class="mr10">Update</button>
        <button mat-raised-button color="primary" class="ml10">Share</button>
    </mat-card-actions>
</mat-card>
