<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/admin">
        <span style="display: flex;
        align-items: center;">
            <mat-icon mat-list-icon class="mr10">home</mat-icon> 
            Home
        </span>
            
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <span style="display: flex;
            align-items: center;">
            <mat-icon mat-list-icon class="mr10">face</mat-icon> 
            Profile</span>
        </button>
        <button mat-list-item routerLink="/admin/view-category">
            <span style="display: flex;
            align-items: center;">
            <mat-icon mat-list-icon class="mr10">list</mat-icon> 
            Category</span>
        </button>
        <button mat-list-item routerLink="/admin/add-category">
            <span style="display: flex;
            align-items: center;">
            <mat-icon mat-list-icon class="mr10">add_circle_outline</mat-icon> 
            Add Category</span>
        </button>
        <button mat-list-item routerLink="/admin/quizzes">
            <span style="display: flex;
            align-items: center;">
            <mat-icon mat-list-icon class="mr10">quiz</mat-icon> 
            Quiz</span>
        </button>
        <button mat-list-item routerLink="/admin/add-quiz">
            <span style="display: flex;
            align-items: center;">
            <mat-icon mat-list-icon class="mr10">add</mat-icon> 
            Add Quiz</span>
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <span style="display: flex;
            align-items: center;">
            <mat-icon mat-list-icon class="mr10">logout</mat-icon> 
            Logout</span>
        </button>
    </mat-action-list>
</mat-card>
